<div class=" col-xs-12">
    <div class="row">
            <div class="col-md-6">
            <div class="btn-group pull-right views">
                <button class="btn btn-white" type="button"(click)="onDisplayModeChange(1)"
                    [ngClass]="{'btn-primary active': displayMode === 1}" >
                    <i class="fa fa-th"></i>Grid View
                </button>
                <button class="btn btn-white" type="button"  (click)="onDisplayModeChange(2)"
                    [ngClass]="{'btn-primary active': displayMode === 2}" >
                    <i class="fa fa-list"></i>List View
                </button>
            </div>
        </div>
        
        <div class="col-md-6">
            <select (change)="sortAttrDesc=$event.target.value">
                <option value="asc">Price: Low to High</option>
                <option value="desc">Price: High to Low</option>
            </select>
        </div>
    </div>   
</div>
<div class="cardDetails">
    <div class="col-xs-12">
        <div class="row ">
            <div [ngClass]="{'col-sm-3  col-6': displayMode === 1, 'col-sm-12': displayMode === 2 }" *ngFor="let card of (cards|price:sortAttrDesc)">
                <div class="card">
                    <div class="cardImg">
                         <div class="image">
                        <img [src]="card.image" class="rounded img-fluid img-responsive"/>
                        <div class="characterName">
                            <p class="name">{{card.name}}</p>
                            <p class="id"><span>id: {{card.id}} </span> - <span>{{card.created | elapsed}}</span></p>
                        </div>
                    </div>  
                         
                   <div class="characterDetails">
                       <!--{{cards|json}}-->               
                       <div class="detail">
                           <span class="detailHeading" >Status</span><span class="detailedValue">{{card.status}}</span>
                       </div>
                       <div class="detail">
                           <span class="detailHeading">Species</span><span class="detailedValue">{{card.species}}</span>
                       </div>
                       <div class="detail">
                           <span class="detailHeading">Gender</span><span class="detailedValue">{{card.gender}}</span>
                       </div>
                       <div class="detail">
                           <span class="detailHeading">Origin</span><span class="detailedValue">{{card.origin.name}}</span>
                       </div>
                       <div class="detail">
                           <span class="detailHeading">Last Location</span><span class="detailedValue">{{card.location.name}}</span>
                       </div>
                   </div>
                </div>        
            </div>
        </div>
        </div>
    </div>

